@import url('https://fonts.googleapis.com/css?family=Srisakdi');

body{
    font-family: 'Srisakdi', cursive;
}

.container-fluid {
    background-color: grey;
}


@media (max-width: 588px) {
    .container-fluid {
        background-color: pink;
    }
}